<?xml version="1.0" encoding="UTF-8" ?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID"
	version="2.5">
	<display-name>Test Webservice</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

<!-- 	<filter> -->
<!-- 		<filter-name>ShiroFilter</filter-name> -->
<!-- 		<filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class> -->
<!-- 		<init-param> -->
<!-- 			<param-name>configPath</param-name> -->
<!-- 			<param-value>classpath:shiro.ini</param-value> -->
<!-- 		</init-param> -->
<!-- 	</filter> -->

<!-- 	<filter-mapping> -->
<!-- 		<filter-name>ShiroFilter</filter-name> -->
<!-- 		<url-pattern>/*</url-pattern> -->
<!-- 	</filter-mapping> -->

	<listener>
		<listener-class>com.ftl.learning.jaxws.filter.shiro.ShiroListener</listener-class>
	</listener>
	<listener>
		<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	<servlet>
		<description>JAX-WS endpoint</description>
		<display-name>The JAX-WS servlet</display-name>
		<servlet-name>jaxws</servlet-name>
		<servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>jaxws</servlet-name>
		<url-pattern>/testService</url-pattern>
	</servlet-mapping>
</web-app>